@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilo da seção principal */
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #121212;
    overflow: hidden;
}

/* Círculo de fundo */
.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e51e2a;
    clip-path: circle(50% at bottom right);
}

/* Estilo do cabeçalho */
 header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo no cabeçalho */
header .logo {
    position: relative;
    max-width: 150px;
}

/* Menu de navegação */
header .navegation ul {
    position: relative;
    display: flex;
}

/* Estilos dos itens do menu */
header .navegation  li {
    list-style: none;
}

/* Links do menu */
header .navegation li a {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: 19px;
    margin-left: 100px;
}

/* Efeito de hover nos links */
a:hover {
    transform:translateY(-3px);
}

/* Estilo do texto principal */
.content .text {
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}

/* Título principal */
.content .text h2 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700;
}

/* Destaque no texto do título */
.content .text h2 span {
    color: #e51e2a;
    font-size: 2.5em;
}

/* Estilo do parágrafo do texto */
.content .text p {
    color: #fff;
}

/* Link de chamada para ação */
.content .text a {
    display: inline-block;
    margin-top: 40px;
    padding: 9px 20px;
    background: #e51e2a;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}

/* Hover no link de ação */
.content .text a:hover {
    transform: translate(-10px);
}

/* Estilo dos ícones de redes sociais */
.icons {
position:absolute;
bottom:40px;
left:100px;
display:flex;
justify-content:center;
align-items:center;
}  

/* Estilo dos itens dos ícones */
.icons li {
list-style:none;
}

/* Estilo dos links dos ícones */
.icons li a {
display:inline-block;
margin-left:45px;
background:#222;
width:50px;
height:50px;
display:flex;
justify-content:center;
border-radius:50%;
transition: 0.3s ease-in-out;   
  }

/* Hover nos ícones */
.icons li a:hover {
background:#e51e2a;
transform:translateY(-10px);
  }

/* Estilo das imagens dos ícones */
.icons li a img {
filter:invert(1);
transform:scale(0.5);
  }

/* Estilo das imagens do produto */
.boxImg {
position:absolute;
right:0;
bottom:-40px;
 }

/* Largura das imagens do produto */
.boxImg img {
width:130px;
}

/* Efeito de rotação nas imagens */
.boxImg .img1 {
  transform: rotate(-15deg);
}

.boxImg .img2 {
transform: rotate(5deg);
}

.boxImg .img3 {
transform: rotate(15deg);
}

.boxImg .img4 {
transform: rotate(-15deg);
}